<section class="listing-form-margin">
<div class="section">
  <br/>
  <div class="container">
  <br/>
    <div class="card">
      <div class="card-content">
        <div class="content is-small is-narrow">
          <h1>Editing Listing</h1>
            <%= render 'form', listing: @listing %>
        </div>
      </div>
    </div>
  </div>
</div>        
<div class="container">          
  <%= link_to 'Show', @listing, class:'button is-info is-small' %> |
  <%= link_to 'Back', :back, class:'button is-info is-small' %>
</div>
</section>