<h1>Welcome to MansPalHouse, <%= @user.name %></h1>
<p>
  You have been approved as a seller on manspalhouse.com.
  <br/>
  To Finalize your membership, you need to sign back in and pay the membership to start selling.
</p>
<p>
  To Pay:<br/>
  1. Sign in to MansPalHouse here: <%= link_to "MansPalHouse Sign In", new_user_session_url %><br/>
  
</p>
<p>Thanks for joining and have a great day!</p>