<br />
<div class="container" style='width: 55%; '>
  <div class="card">
    <div class="card-content">
      <p class="title">
        “This is a very cool website if your looking for pets, Highly Recommended.”
      </p>
      <br />
      <p class="subtitle">
        @Navigator- CoderAcademy<span ><%=image_tag 'nav.png', width:'50px', :class => "style_image"%></span>
      </p>
    </div>
  </div>
</div>