<br />
<div class="container" style='width: 55%; '>
  <div class="card">
    <div class="card-content">
      <p class="title">
        “We just don't advertise. We make sure that you have options and we get you in touch with a reputable breeder.”
      </p>
      <br />
      <p class="subtitle">
        @MansPalHouse
      </p>
    </div>
  </div>
</div>