<section class="hero is-large is-white ">
  <div class="hero-body" style = "background: url(<%= asset_path 'dog12.jpeg'%>) no-repeat center; background-size: cover;">
    <div class="container">
      <h1 class="title">
      <article class="message">
  <div class="message-body">
        Are you looking for me..?
      </div>
      </article>
    </div>
  </div>
</section>