<%= render '/shared/search'%>
<%= render '/shared/hero'%>
<br />
<div  class="container" style='text-align: center; padding: 2rem;'>
  <h2 class="subtitle is-5 is-spaced ">Planning on getting a <strong>puppy</strong>?</h2>
  <h2 class="subtitle is-5 is-spaced ">If you have already settled on a breed,
    the next big decision is where you should get your <strong>puppy</strong> from. </h2>
</div>

<%= render '/shared/card'%>
<br />
<%= render '/shared/dog_api'%>