<div class='container'>
  <nav class="breadcrumb is-small" aria-label="breadcrumbs">
    <ul>
      <li><a href="<%=root_path%>">Home</a></li>
      <li class="is-active"><a href="#" aria-current="page">Contact Seller</a></li>
    </ul>
  </nav>
</div>
<br />
<div class="section">
  <br/>
  <div class="container" style='width: 50%;'>
  <br/>
    <div class="card">
      <div class="card-content">
        <div class="content is-small is-narrow">
          <center><h1>Send a Message to <%= @listing.user.email %></h1></center>
          <%= render 'form', message: @message %>
        </div>
      </div>    
    </div>  
  </div>
</div>
<div class="container">  
  <%= link_to 'Back', :back %>
</div>  