<div class='container'>
  <nav class="breadcrumb is-small" aria-label="breadcrumbs">
    <ul>
      <li><a href="<%= root_path%>">Home</a></li>
      <li class="is-active"><a href="#" aria-current="page">Seller Registration</a></li>
    </ul>
  </nav>
</div>
<%= render 'form', user: @user %>