// css styling

body {
  background: #fefefe;
}

.card {
  height: max-content;
  border-radius: 15px;
}

.media-content {
  overflow: hidden;
}

.title.no-padding {
  margin-bottom: 0 !important;
}

.hero-body {
  background-image: image-url('dog12.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position-y: -20rem;
}

#wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
  background: rgba(135, 216, 211, 0.85);

  .alert,
  .notice {
    padding: 2.5rem 0;
    text-align: center;
    margin: 0;
    font-size: 1rem;
    font-weight: 700;
    color: #ffffff;
    letter-spacing: 1px;
  }
}

#banner-message {
  background: #fefefe;
  border-radius: 4px;
  padding: 20px;
  font-size: 25px;
  text-align: center;
  transition: all 0.2s;
  margin: 0 auto;
  width: 500px;
}

#breed_data {
  background: #fefefe;
  border-radius: 4px;
  padding: 20px;
  font-size: 14px;
  text-align: left;
  transition: all 0.2s;
  margin: 0 auto;
  width: 500px;
  letter-spacing: 1.5px;

}

#breed_image {
  background: #fefefe;
  margin: 0 auto;
  width: 460px;
}

.style_image {
  border-radius: 50%;
}