body {
  background: #fefefe;
}

.card {
  height: max-content;
  border-radius: 15px;
}

.media-content {
  overflow: hidden;
}

.title.no-padding {
  margin-bottom: 0 !important;
}

.hero-body {
  background-image: image-url('dog12.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}