<div class='container'>
  <nav class="breadcrumb is-small" aria-label="breadcrumbs">
    <ul>
      <li><a href="<%=root_path%>">Home</a></li>
      <li class="is-active"><a href="#" aria-current="page">Payment</a></li>
    </ul>
  </nav>
</div>
<div class='container' style='width:50%; padding: 6rem 6rem 10rem;'>
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">
        Payment Confirm.
      </p>
      <a href="#" class="card-header-icon" aria-label="more options">
        <span class="icon">
          <i class="fas fa-check"></i>
        </span>
      </a>
    </header>
    <div class="card-content">
      <div class="content">
        Thanks. Payment has now been verified. If you wish to proceed and add listings, puppy ads or dog profiles,
        just hit the button below and that will take you to the listing page.
        <br>
      </div>
    </div>
    <footer class="card-footer">
      <%= link_to 'Add Listing', listings_path, class:"card-footer-item"%>
      <%= link_to 'Main Menu', root_path, class:"card-footer-item"%>
    </footer>
  </div>
</div>